.permission-table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 20%;
}

.permission-table th,
.permission-table td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.permission-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.permission-table td input[type="checkbox"] {
  margin: 0;
}
