/* sideNavStyle.css */

.sidenav {
  background-color: #f1f1f1;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding: 20px;
  z-index: 999;
}

.sidenav.open {
  width: 0;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  outline: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.toggle-btn i {
  color: #555;
}

.nav-links {
  margin-top: 50px;
}

.nav-links h1 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
}

.nav-links button {
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.nav-links button:hover {
  color: #000;
  background-color: #ddd;
}
